/* https://colorhunt.co/palette/0000005682b1739ec9ffe8db */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  background-color: #5682b1;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
}

.gridHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    width: 85%;
    margin-left: 50px;
}

.logo{
    margin: 5px;
    width: 130px;
    margin-left: 50px;
}
.buscador {
  height: 30px;
  width: 100%;
  margin-left: 0;
}
.buscador input {
  min-width: 90%;
  min-height: 100%;
  border: none;
  padding-left: 10px;
}
.buscador button {
  min-height: 100%;
  width: 10%;
  border-radius: 3%;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  background-color: #739EC9;
  padding: 5px 10px;
  border-radius: 5%;
}

.carousel{
    margin-top: 20px;
}

.slick-dots{
    bottom:20px !important;
    color: white !important;
}

/* Este estilo apunta al pseudo-elemento que dibuja los puntos */
.slick-dots li button:before {
  font-size: 12px;
  color: white !important;   /* 👈 fuerza el color blanco */
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}
